@import "@styles/theme.module.scss";

.root {
  background-color: transparent;
  padding: 0;
}

.p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a555c;
  margin-bottom: 2em;
}

.h1 {
  margin-bottom: 1em;
  font-family: $header-font;
  font-size: 26px;
  font-weight: 500;
  color: black;
}

.sliderContainer {
  padding: 1em;
  margin-bottom: 4em; /* Adjusted margin */
  text-align: center;
  border-radius: 20px;
}

.valueBox {
  display: inline-block;
  border-radius: 20px;
  padding-left: 2em;
  padding-right: 2em;
}

.valueText {
  font-family: "Helvetica, sans-serif"; /* Directly set the font-family */
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.button {
  margin-top: 4em; /* Space between slider and button */
}

.underline {
  text-decoration: underline;
  cursor: pointer;
  color: #ff8516;
}
