@import "@styles/theme.module.scss";

.root {
  background-color: transparent;
  padding: 0;
}

.p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a555c;
  margin-bottom: 2em;
}

.h1 {
  margin-bottom: 1em;
  font-family: $header-font;
  font-size: 26px;
  font-weight: 500;
  color: black;
}

.sliderContainer {
  padding: 1em;
  margin-bottom: 4em; /* Adjusted margin */
  text-align: center;
  border-radius: 20px;
}

.valueBox {
  display: inline-block;
  border-radius: 20px;
  padding-left: 2em;
  padding-right: 2em;
}

.valueText {
  font-family: "Helvetica, sans-serif"; /* Directly set the font-family */
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.next_button {
  margin-top: 4em; /* Space between slider and button */
}

.investmentRanges {
  display: flex;
  @media (max-width: 600px) {
    justify-content: center;
  }
  flex-wrap: wrap;
  gap: 0.5em 1em; // Adjusted to create spacing similar to the image
}

.button {
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  text-align: center;
  line-height: 2em;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-width: 9em; // Adjusted width to match the image
  padding: 0 1em;
  width: fit-content;
  height: 2.5em; // Adjusted height to match the image
  cursor: pointer;
  background-color: white; // Ensures button has white background
  transition: background-color 0.3s, border 0.3s;
}

.button:hover,
.button.selected {
  border: 1px solid #ff8516;
  color: #ff8516;
  background-color: #fff3e8;
}
