@import "@styles/theme.module.scss";

/*

Here we keep styling 
DESKTOP FIRST
because the design been styled for desktop browsers

original design total width:
1728px

sidebar width:
288px (16,7 % =~= 17%)

main content width:
58% (the remaining)

company profile width:
420px (24,31% =~= 24%)

we remain for 1% of space between the divs
then in .root we justify the content 
in the space between the divs

*/

.root {
  display: flex;
  flex-direction: row;
  background: white;
}


.company-profile-container {
  height: 100%;
  flex: 0 0 24%;
}

//observation:
// these where already written
//check the structure later
//upon finding possible problems


.mainContent {
  height: 100%;
  flex: 1 1 59%;
/*   overflow-y: auto; */
  margin-left: 3.5em;
  margin-right: 3.5em;

  h1 {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 550;
    margin-bottom: 0.25em;
  }

  p {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 300;
  }
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  row-gap: 2em;

  .trackers {
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;
  }
}

