@import "@styles/theme.module.scss";

.verify-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em 0;

  column-gap: 1em;
}

.form-input {
  text-align: center;
}

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
}

.receive-resend-container {
  margin: 2em 0;
}
