@import "@styles/theme.module.scss";

.root {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  padding-top: 0em;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #E1E1E1;
  font-family: Helvetica, sans-serif;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .text {
        h1 {
            font-size: 1.75em;
            color: black;
            font-weight: 500;
            margin: 0;
        }
    
        p {
            margin-top: 0.5em;
            font-size: 1em;
            color: #555;
        }    
    }
  
    .button {
        height: 3em;
        width: 12em;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    row-gap: 1.5em;

    .item {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        border-radius: 10px;
        background-color: #FFFDFB;
        border: 1px solid #E1E1E1;

        h2 {
            font-size: 1em;
            font-weight: 600;
            color: black;

        }

        p {
            margin-top: 0.5em;
            font-size: 1em;
            color: #555;
        }

        .input {
            width: 100%;
            font-size: 1em;
            padding: 0.5em;
            margin-bottom: 1em;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }

    
  }

}