@import "@styles/theme.module.scss";

.root {
  background-color: transparent;
  padding: 0;
}

.p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a555c;
  margin-bottom: 2em;
}

.h1 {
  margin-bottom: 1em;
  font-family: $header-font;
  font-size: 26px;
  font-weight: 500;
  color: black;
}

.select {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a555c;
  border-radius: 10px;
  border: 1px solid #4a555c;
  width: 100%;
  margin-bottom: 6em; /* Adjusted margin */
}

.buttonContainer {
  margin-top: 4em; /* Add more space above the button */
}
