@import "@styles/theme.module.scss";

.root {
  display: flex;
  flex-direction: column;
  row-gap: 1.25em;
  margin-top: 2.5em;
  margin-left: 3.5em;
  margin-right: 3.5em;
  background: white;
}

//here we set the width
//
.sides-common-style {

  padding: 10px;
}

.sideBar-container {
  height: 100%;
  flex: 0 0 17%;
}
.company-profile-container {
  height: 100%;
  flex: 0 0 24%;
}

//observation:
// these where already written
//check the structure later
//upon finding possible problems
.mainContent {
  height: 100%;
  flex: 1 1 59%;
}

.dashboardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
