@import "@styles/theme.module.scss";

h1 {
  font-size: 2em;
  font-weight: 600;
  font: $header-font;
  letter-spacing: 1%;
  margin-bottom: 0.5em;
}

.form-container {
  display: flex;
  flex-direction: column;

  align-items: left;
  justify-content: left;
  margin: 2em auto 5em auto;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 40%;
}

.form-input {
  width: 95%;
  padding: 1em 1em 0 1em;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 4em;
}
.form-input:hover {
  border: 1px solid #ff8516;
  transition: all 0.5s ease-in-out;
}

.form-button {
  display: flex;
  justify-content: center;
  width: 95%;
  padding: 0.5em;
  margin: 0.3em 0 1.5em 0;
  background-color: #ff8516;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.form-button:hover {
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

label {
  color: #999;
  transform: translate(0.3rem, -3rem);
  transition: all 0.2s ease-out;
  margin: 0.2em;
}
input:focus {
  border-color: #ff8516;
  transition: all 0.2s ease-out;
}
input:focus + label,
input:not(:placeholder-shown) + label {
  color: #999;
  transform: translate(0.3rem, -4rem);
}

//login bottom part

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: bottom;
  margin: 1em 0 0 0;
  width: 100%;
}

.or-line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  width: 100%;
}
.br-line {
  width: 40%;
  height: 1px;
  background-color: #e1e1e1;
  margin: 0 0.5em;
}

.google-linkedin-container {
}

.Forgot-create_Container {
  display: flex;
  flex-direction: row;
  align-items: bottom;
  column-gap: 20%;
  justify-content: center;
  margin: 1em 0 0 0;
  width: 100%;
  font-size: small;
}

.forgot-pass {
  height: fit-content;
  width: fit-content;
  margin-top: 5%;
}

.create-acc {
  height: min-content;
  width: max-content;
  margin-top: 5%;
  column-gap: 0;
  display: flex;
  flex-direction: row;
  column-gap: 0.2em;

  h2 {
    margin: 0;
    color: gray;
  }
  h3 {
    margin: 0;
  }
}
