.root {
  background-color: #ffffff;
  border: 1px solid #E1E1E1;
  font-family: Arial, sans-serif;
  font-weight: 300;
  color: #4A555C;
  padding-bottom: 10em;
  width: 22em;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 1.5em;
    border-bottom: 1px solid #E1E1E1;
  
    .icon {
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.5em;
    }
  
    h2 {
      font-size: 1em;
      font-weight: 600;
      color: black;
    }
  }

  .logo {
    padding: 2.5em 1.5em;
    .icon {
      width: 5em;
      height: 5em;
      margin-bottom: 1.5em;
    }

    h2 {
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 0.5em;
      color: #000;
    }

    p {
      font-size: 0.875em;
      font-weight: 300;
    }
  }

  .details {
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    row-gap: 2.5em;

    p {
      font-size: 0.875em;
      font-weight: 300;
    }

    .mission {
      display: flex;
      flex-direction: column;
      row-gap: 1em;

      h2 {
        font-size: 1em;
        font-weight: 600;
        color: #000;
      }
    }
  }

  .table {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    .header {
      border-bottom: 1px solid #E1E1E1;
      padding-top: 1.5em;
      padding-left: 1em;
      padding-bottom: 1em;
      font-size: 0.875em;
      font-weight: 600;
      color: #000;
    }
    .values {
      padding-top: 2em;
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1.5em;
      
      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        font-weight: 300;

        h2 {
          
        }

        p {      
          color: #000;
        }
      }

    }
  }
}


