@import "@styles/theme.module.scss";

.root {
  padding-top: 2.5em;
  padding-right: 2em;
  padding-left: 2em;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.p {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #4a555c;
  margin-bottom: 3em;
}
.h1 {
  margin-bottom: 1em;
  font-family: $header-font;
  font-size: 26px;
  font-weight: 500;
  color: black;
}

.input {
}

.checkboxContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.checkboxItem {
  width: 100%;
  @media (min-width: 1000px) {
    width: 50%;
  }

  /* Adjust as needed */
}

.checkbox {
  margin-right: 0.5em; /* Adjust as needed */
}

/* Styling for checkbox label */
.checkboxItem label {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 900;
  color: #000;
}
