@import "@styles/theme.module.scss";

.root {
  padding-top: 2.5em;
  padding-right: 2em;
  padding-left: 2em;
  background-color: transparent;
}

.p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a555c;
  margin-bottom: 2em;
}

.h1 {
  margin-bottom: 1em;
  font-family: $header-font;
  font-size: 26px;
  font-weight: 500;
  color: black;
}

.checkboxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 2em;
}

.checkboxItem {
  width: 100%;
  @media (min-width: 1100px) {
    max-width: 45%;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
  border: 1px solid #b3b3b3;
  border-radius: 12px;
  padding: 0.25em; /* Reduced padding */
  position: relative;
  cursor: help; /* Shows help cursor to indicate tooltip */
}

.checkboxTitle {
  font-size: 1em;
  font-weight: 600;
  color: black;
}

.checkboxTextContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.next_button {
  margin-top: 4em;
}
